.head-start {
  display: none;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  display: block!important;
}
.container-fluid {
  max-width: 1400px;
}

.head-conatiner {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 100px;
  justify-content: center;
  justify-content: end!important;
}
.cartIcon2 {
  display: none;
  position: relative;
}
.nav-icons {
  color: #1a1a2c;
}
.sidenav---sidenav---_2tBP {
  display: flex;
  flex-direction: column;
  height: 100vh!important;
  padding: 10px!important;
}
.sidenav---sidenav---_2tBP {
  background: #fff!important;
  position: fixed!important;
}
.icons.sidenav---sidenav-nav---3tvij {
  align-items: center;
  align-items: start;
  display: flex;
  flex: auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  z-index: 50;
}
.sidenav---sidenav---_2tBP *, .sidenav---sidenav---_2tBP :after, .sidenav---sidenav---_2tBP :before {
  background-color: initial!important;
}
.sidenav---navicon---3gCRo {
  opacity: 1!important;
}
.sidenav---sidenav---_2tBP *, .sidenav---sidenav---_2tBP :after, .sidenav---sidenav---_2tBP :before {
  background-color: initial!important;
}
.cartIcon {
  position: relative;
}
.cart-text {
  background: #f90!important;
  border-radius: 99px;
  bottom: calc(100% - 22px);
  color: #fff!important;
  font-size: 10px;
  font-weight: 700;
  height: 19px;
  left: calc(100% - 29px);
  margin: 0;
  min-width: 18px;
  padding: 4px 4px 5px;
  position: absolute;
  text-align: center;
}

.header-top {
  padding: 3%;
  padding-top: 0!important;
}
.header-top {
  padding: 3%;
  padding-top: 0!important;
}
.container-fluid {
  max-width: 1400px;
}
.head-conatiner {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 100px;
  justify-content: center;
  justify-content: end!important;
}
.header__back, .header__search {
  align-items: center;
  border-radius: .5rem;
  display: flex;
  font-size: .85rem;
  margin-right: 1rem;
  padding: .33rem .15rem .33rem .66rem;
  position: relative;
}
.search-bar {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap!important;
  gap: 8px;
  justify-content: end;
}
.magnifierContainer {
  display: none;
}
.cartIcon2 {
  display: none;
  position: relative;
}
.logo {
  font-family: Lobster Two,cursive;
  font-style: italic;
  text-decoration: none;
}
.sidenav---sidenav-toggle---1KRjR .sidenav---icon-bar---u1f02 {
  background-color: #000!important;
}
.close, .open {
  transition: display .35s ease-out;
}
.open {
  display: block;
}
.open {
  border: none;
}
.border-none {
  border: none!important;
}
aside input {
  font-size: 13px;
  padding: .5rem 1rem;
  width: 200px;
}




@media screen and (max-width: 550px) {
    
  .magnifierContainer {
    display: block;
  }
  aside input {
    width: 100%;
  }
  .side-nav{
    /* display: none !important; */
    z-index: 49 !important;
    
  }
   .active{
    display: flex !important;
  }

  
.head-start{
  display: block;
  z-index: 52 !important;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 75px;
  background-color: #f90 !important;
  border-radius: 0px 25px 25px 0px;
}
.head-start.active {
  left: 0px !important;
}
.cart-text2 {
position: absolute;
padding: 4px 4px 5px;
font-size: 10px;
text-align: center;
min-width: 18px;
height: 19px;
background: #f90 !important;
color: #fff !important;
font-weight: 700;
left: calc(100% - 15px);
bottom: calc(100% - 15px);
margin: 0;
border-radius: 99px;
}
.cartIcon2 {
position: relative;
display: block;
}
.sidenav---sidenav---_2tBP {
 
 
  position: fixed !important;
  left: 0;
  bottom: 0;
  right: 0;
  top: auto !important
}
.sidenav---sidenav---_2tBP {
 bottom: 20px !important; 

  height: 60px!important;
  
}
.icons.sidenav---sidenav-nav---3tvij {
  
  flex-direction: row !important;
  
}
.sidenav {
 
  bottom: 2 !important;

  top: 0;
  width: 100% !important;
  top: 63px !important

 
}
.icons {
  width: 100% !important;
}

}
